# Server Configuration
PORT=4000

# Neon PostgreSQL Connection String
DATABASE_URL=postgresql://username:password@your-project.region.aws.neon.tech/dbname?sslmode=require

# Example:
# DATABASE_URL=postgresql://neondb_owner:npg_xxxxxxxx@ep-cool-morning-123456.us-east-1.aws.neon.tech/neondb?sslmode=require
